Q1. Explain with an example each when to use a for loop and a while loop.

 SOL 1 :
 
 A "For" Loop is used to repeat a specific block of code a known number of times. 
 Example shown below :

In [1]:
i = range(10)
for j in i :
    print(j)

0
1
2
3
4
5
6
7
8
9

"While" loop is used to execute code until over condition fails . it will work in loop until our condition is true .

In [2]:
a = 2
while a<1000 :
    print(a)
    a=a*2

2
4
8
16
32
64
128
256
512

Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop.

SOL 2 :
    Using "FOR" loop

In [3]:
l = list(range(1,11))
sum=0
for i in l:
    sum=sum+i
sum

55

In [4]:
l = list(range(1,11))
product=1
for i in l:
    product=product*i
product

3628800

Using "WHILE" loop

In [5]:
n = 1
sum = 0
while n<=10 :
    sum=sum+n
    n=n+1
sum

55

In [6]:
n=1
product=1
while n<=10:
    product=product*n
    n=n+1
product

3628800

Q3. Create a python program to compute the electricity bill for a household.
The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.
You are required to take the units of electricity consumed in a month from the user as input.

Your program must pass this test case: when the unit of electricity consumed by the user in a month is
310, the total electricity bill should be 2250

SOL :3-

In [8]:
units = int(input("enter your unit of electricity consumed in a month  "))
if units< 100:
    charges = 4.5 * units
elif units<200:
    charges = 4.5 * 100 + 6 * (units-100)
elif units <300:
    charges = 4.5 * 100 + 6 * 100 + 10 * (units-200)
else :
    charges = 4.5 * 100 + 6 * 100 + 10 * 100 + 20 * (units-300)
print("Total electricity bill", charges)

enter your unit of electricity consumed in a month   310

Total electricity bill 2250.0

# Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.

 SOL : - Using "FOR" loop

In [9]:
l = list(range(1,101))
l1=[]
for i in l:
    cube=i**3
    if cube%4==0 or cube%5==0 :
        l1.append(i)
l1

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

In [10]:
l=list(range(1,101))
i=1
l2=[]
while i<=100:
    cube=i**3
    if cube%4==0 or cube%5==0 :
        l2.append(i)
    i=i+1        
l2

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

Q5. Write a program to filter count vowels in the below-given string.

string = "I want to become a data scientist"

In [11]:
string = "I want to become a data scientist "

In [12]:
l1=[]
for i in string :
    if i in ["a","e","i","o","u","A","E","I","O","U"] :
        l1.append(i)

In [13]:
l1

['I', 'a', 'o', 'e', 'o', 'e', 'a', 'a', 'a', 'i', 'e', 'i']

In [14]:
len(l1)

12

ie count of vowels is 12